---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%7CMontserrat:700");

// Our variables
$base-font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$heading-color: #17181a;
$text-color: #6a6d70;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$white-color: #ffffff;

$grey-color: #f7f9fa;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "page", "post", "footer";
