<footer class="footer">
  <div class="footer__info">
    <h3 class="footer__info-title">Contact info</h3>
    {% if page.footer_contact %}
    <div class="footer__info-content">
      {{ page.footer_contact }}
    </div>
    {% endif %}
  </div>
  <div class="footer__logos">
    <div>
      <img src="/assets/img/eigenwijks-edit01.png" />
    </div>
    <div>
      <img src="/assets/img/combiwel_groot.png" />
    </div>
    <div>
      <img src="/assets/img/refugees.png" />
    </div>
    <div>
      <img src="/assets/img/logo.png" />
    </div>
  </div>
</footer>
