.footer {
  padding: $spacing-unit 2 * $spacing-unit;
  display: flex;

  &__info {
    flex: 1;
  }

  &__info-title {
    color: #17181a;
  }

  &__info-content {
    color: #17181a;
  }

  &__logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;

    > div {
      flex: 1;

      &:not(:last-child) {
        margin-right: $spacing-unit;
      }
    }
  }
}
