// SECTION

.page__section {
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
}

.page__section-title {
  text-align: center;
}

// HERO

.page__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 430px;
  background-image: url("/assets/img/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #dbe8d7;
}

.page__hero-heading {
  color: #383c37;
}

.page__hero-subheading {
  color: #4f554e;
}

.page__hero-video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.page__hero-video {
  margin-top: -80px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// LATEST ARTICLES

.page-latest-articles {
  background-color: $grey-color;
}

.page-latest-articles__list {
  list-style: none;
  margin: 0;
  padding: 0;

  li:not(:last-child) {
    margin-bottom: $spacing-unit / 2;
  }
}

.page-latest-article {
  padding: 20px;
  background-color: $white-color;
  border: 1px solid #e9ebed;
  border-radius: 5px;
  display: block;

  &:hover {
    text-decoration: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-inner {
      margin-right: $spacing-unit / 2;
    }
  }

  &__title {
    color: $heading-color;

    &:hover {
      color: $heading-color;
    }
  }

  &__date {
    color: #6a6d70;

    &:hover {
      color: #6a6d70;
    }
  }
}

// MENU

.page-menu {
  &:not(:last-of-type) {
    margin-bottom: $spacing-unit;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

    > :nth-child(even) {
      background-color: $grey-color;
    }
  }

  &__list-item {
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
  }

  &__list-item-name {
    color: $heading-color;
  }
}
