---
layout: default
---

<header class="page__hero">
  <h1 class="page__hero-heading">{{ page.hero_heading }}</h1>
  <h2 class="page__hero-subheading">{{ page.hero_subheading }}</h2>
</header>

<section class="wrapper">
  <div class="page__hero-video-wrapper">
    <iframe
      class="page__hero-video"
      width="740"
      height="416"
      src="https://www.youtube.com/embed/mOq4UnSHGG0?controls=0"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</section>

<section class="wrapper">
  <div class="page__section">
    <h2 class="page__section-title">{{ page.about_title }}</h2>
    <p>{{ page.about_content }}</p>
  </dib>
</section>

{% if site.posts %}
<section class="page__section page-latest-articles">
  <h2 class="page__section-title">Latest articles</h2>
  <div class="wrapper">
    <ul class="page-latest-articles__list">
      {% for post in site.posts %}
      <li>
        <a class="page-latest-article" href="{{ post.url }}">
          <div class="page-latest-article__content">
            <div class="page-latest-article__content-inner">
              <div class="page-latest-article__title">
                {{ post.title }}
              </div>
              <time class="page-latest-article__date">
                {{ post.date | date: "%B %d, %Y" }}
              </time>
            </div>
            <div>
              <svg width="14" height="8" xmlns="http://www.w3.org/2000/svg">
                <text
                  transform="translate(-565 -36)"
                  fill="#6A6D70"
                  fill-rule="evenodd"
                  font-family="LucidaGrande, Lucida Grande"
                  font-size="16"
                >
                  <tspan x="564" y="46">→</tspan>
                </text>
              </svg>
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endif %}

{% if page.lists %}
<section class="wrapper">
  <div class="page__section">
    <h2 class="page__section-title">Our menu</h2>
    {% for list in page.lists %}
    <div class="page-menu">
      <h4>{{ list.title }}</h4>
      <ul class="page-menu__list">
        {% for item in list.items %}
          <li class="page-menu__list-item"><div class="page-menu__list-item-name">{{ item.name }}</div><div>€ {{ item.price }}</div></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </dib>
</section>
{% endif %}
