---
layout: default
---

<div class="wrapper post">
  <a class="post__back" href="/">Back to home</a>
  <article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
      <h1 itemprop="name headline">{{ page.title }}</h1>
      <p>
        <time
          datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished"
          >{{ page.date | date: "%B %d, %Y" }}</time
        >{% if page.author %} •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person"
          ><span itemprop="name">{{ page.author }}</span></span
        >{% endif %}
      </p>
    </header>

    <div itemprop="articleBody">
      {{ content }}
    </div>
  </article>
</div>

{% if page.next.url %}
<div class="page__section page-latest-articles">
  <h2 class="page__section-title">Next article</h2>
  <div class="wrapper">
    <a class="page-latest-article" href="{{ page.next.url }}">
      <div class="page-latest-article__content">
        <div class="page-latest-article__content-inner">
          <div class="page-latest-article__title">
            {{ page.next.title }}
          </div>
          <time class="page-latest-article__date">
            {{ page.next.date | date: "%B %d, %Y" }}
          </time>
        </div>
        <div>
          <svg width="14" height="8" xmlns="http://www.w3.org/2000/svg">
            <text
              transform="translate(-565 -36)"
              fill="#6A6D70"
              fill-rule="evenodd"
              font-family="LucidaGrande, Lucida Grande"
              font-size="16"
            >
              <tspan x="564" y="46">→</tspan>
            </text>
          </svg>
        </div>
      </div>
    </a>
  </div>
</div>
{% endif %}
